#home-content {
  width: 100%;
}

#center-menu {
  height: 230px;
  width: 960px;
  color: #FFF;
  display: inline-flex;
  margin-left: 210px;
  margin-top: 231px;
  .logo{
    background: url("../src/img/logo.png") no-repeat;
    width: 319px;
    height: 89px;
    position: absolute;
    left: 513px;
  }
  .concert{
    background: url("../src/img/concert.png") no-repeat;
    width: 369px;
    height: 259px;
    margin-left: 246px;
    position: relative;
    bottom: 20px;

    span {
      position: relative;
      top: 217px;
      left: 74px;
    }

    span:hover {
      color: #A00000;
      cursor: pointer;
    }
  }

  .guitars {
    background: url("../src/img/guitars.png") no-repeat;
    width: 277px;
    height: 202px;
    margin-left: 49px;

    span {
      position: relative;
      top: 194px;
      left: 88px;
    }

    span:hover {
      color: #A00000;
      cursor: pointer;
    }
  }
}